body {
    margin: 0;
}

.form {
    width: 80%;
    display: flex;
    background: #2a2a2c;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: #2a2a2c solid 5px;
    border-radius: 10px;
}

.form label {
    color: #e8e8ed;
    font-family: "Noto Sans JP Black", serif;
}

.input {
    font-family: "Rounded M+ 2p bold", serif;
    font-size: 30px;
    width: 80%;
    height: 50px;
    background: white;
    border: #2a2a2c solid 3px;
}

.button {
    font-family: "Rounded M+ 2p bold", serif;
    font-weight: bold;
    background: white;
    color: #2a2a2c;
}

.GitHubButton {
    width: 50%;
    font-family: "Noto Sans JP Black", serif;
    margin-left: auto;
    margin-right: auto;
}

.DiscordButton {
    width: 50%;
    font-family: "Noto Sans JP Black", serif;
    margin-left: auto;
    margin-right: auto;
}